@import url('https://fonts.loli.net/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.loli.net/css2?family=Noto+Serif+SC:wght@400;600&display=swap');

@import url('https://fonts.loli.net/css2?family=Noto+Serif+TC:wght@400;600&display=swap');

@import url('https://fonts.loli.net/css2?family=Fira+Code:wght@400;600&display=swap');

:root {
  --color-mode: light;
  --h1-color: #343a40;
  --font-color: #343a40;
  --heading-color: #60656c;
  --background: #fefefe;
  --dark-font-color: #1b1d25;
  --medium-font-color: #495057;
  --light-font-color: #60656c;
  --light-background: #f1f4f8;
  --light-background-hover: #e1e6ed;
  --border: #d6d9de;
  --link-color: #5183f5;
  --link-color-darker: #364fc7;
  --navbar-color: #fefefe;
  --blockquote-left: #ffd36f;
  --transparent-text: rgba(0, 0, 0, 0.7);
  --transparent-bg: rgba(0, 0, 0, 0.05);
  --light-transparent-bg: rgba(255, 255, 255, 0.1);
}

:root {
  --en-font-family: 'Noto Serif', -apple-system, BlinkMacSystemFont, 'Roboto',
    'Droid Sans', 'Ubuntu', 'Helvetica Neue';
  --zh-hans-font-family: 'Noto Serif SC', serif;
  --zh-hant-font-family: 'Noto Serif TC', serif;
  --code-font-family: 'Fira Code', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  --base-font-family: var(--en-font-family), sans-serif,
    var(--zh-hans-font-family);
}

:lang(en) {
  font-family: var(--en-font-family), sans-serif;
}

:lang(zh-Hans) {
  font-family: var(--en-font-family), var(--zh-hans-font-family);
}

:lang(zh-Hant) {
  font-family: var(--en-font-family), var(--zh-hant-font-family);
}
