{{ define "main" }}

<div class="container">
  <section class="bio">
      <section>
        <div class="text">Hi There, I'm yuu</div>
      </section>
      <section>
        <div class="desc">yet another</div>
        <div class="text">Computer Science Student</div>
      </section>
      <section>
        <div class="desc">but soon-to-be</div>
        <div class="text">Front-end Developer & Content Creator</div>
      </section>
    </div>
</div>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $pages = .Paginate ($pages) }} {{ $archivesPage := first 1 (where
.Site.RegularPages "Layout" "eq" "archives") }}

<div class="container">
  <section>
    <h2>
      Latest Posts {{ range $archivesPage }}
      <a class="section-button" href="{{ .RelPermalink }}">View all</a>
      {{ end }}
    </h2>
    <div class="posts">
      {{ range $pages.Pages }}
      <div class="post">
        <a href="{{ .RelPermalink }}">
          <div class="post-row">
            <time><i>{{ .Date.Format "Jan 02" }}</i></time>
            <h3 lang="{{ .Params.lang }}">{{ .Title }}</h3>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </section>
</div>

{{ end }}
