{{ define "main" }}
<div class="container">
  <article lang="{{ .Params.lang }}">
    <header class="article-header">
      <div class="thumb">
        <div>
          <h1>{{ .Title }}</h1>
          <div class="post-meta">
            <div>
              <time>{{ .Date.Format "January 02, 2006" }}</time>
              {{/* | {{ .ReadingTime }} minutes */}}
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="article-post">{{ .Content }}</div>
  </article>
</div>
{{ end }}
